# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Windows
*.bat text eol=crlf

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary

# Documents
*.pdf binary

# Archives
*.zip binary
*.tar.gz binary
*.rar binary
